In [98]:
import pandas as pd
import numpy as np
import statsmodels.api as ss

In [1]:
from IPython.core.display import display, HTML
display(HTML('<h1>Hello, world!</h1>'))

%%html
<h2>this is heading for the below cell</h2>
<p> Helllo I am paragrapgh<p>

In [19]:
data=pd.read_csv('Ass5.csv')
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0
5,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0
7,P006,FF,56.0,NaN,180,Joint pain,5.90,70,160,12.5
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7
10,P009,KK,NaN,NaN,122,Fracture,4.11,80,150,10.0
11,P009,MM,NaN,NaN,150,Fracture,4.11,88,100,11.0
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0

In [152]:
# Step:1) Clean the data
#     1.Remove the patient P006
# Getting the the index of patient P006
index=data[(data.PatientID=='P006')].index

# Dropping the row using index
data=data.drop(index)
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0
5,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7
10,P009,KK,NaN,NaN,122,Fracture,4.11,80,150,10.0
11,P009,MM,NaN,NaN,150,Fracture,4.11,88,100,11.0
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0

In [153]:
# Replace the NAN for the following two rows

# Using the approach in the ppt

data.loc[10:10,'Age'].fillna(62, inplace=True)

# Another way to directly update the record

data.loc[11,'Age']=89
data.loc[10,'Gender']='M'
data.loc[11,'Gender']='F'
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0
5,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7
10,P009,KK,62.0,M,122,Fracture,4.11,80,150,10.0
11,P009,MM,89.0,F,150,Fracture,4.11,88,100,11.0
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0

In [154]:
# Removing the duplicates
data.drop_duplicates(inplace=True)
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7
10,P009,KK,62.0,M,122,Fracture,4.11,80,150,10.0
11,P009,MM,89.0,F,150,Fracture,4.11,88,100,11.0
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0

In [155]:
# Creating Age category new column
conditions = [
    (data['Age'] <= 25),
    (data['Age'] < 61) & (data['Age'] > 25),
    (data['Age'] >= 61) 
    ]
values=['Teen Age','Middle Age','Old Age']
data['Age_Category'] = np.select(conditions, values)
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB,Age_Category
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0,Middle Age
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0,Middle Age
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0,Teen Age
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0,Middle Age
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0,Old Age
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0,Old Age
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9,Middle Age
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7,Teen Age
10,P009,KK,62.0,M,122,Fracture,4.11,80,150,10.0,Old Age
11,P009,MM,89.0,F,150,Fracture,4.11,88,100,11.0,Old Age
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0,Old Age
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0,Old Age

In [156]:
# Professors logic
i=0
Age_Category=[]
for index, row in data.iterrows():
    if(row['Age'] <= 25):
    
        Age_Category.append("Teen Age")
    elif (row['Age'] < 61) & (row['Age'] > 25):
     
        Age_Category.append("Middle Age")
    else: 
       
        Age_Category.append("Old Age")
    i=i+1
data['Age_Category3']=Age_Category
data

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB,Age_Category,Age_Category3
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0,Middle Age,Middle Age
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0,Middle Age,Middle Age
2,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0,Teen Age,Teen Age
3,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0,Middle Age,Middle Age
4,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0,Old Age,Old Age
6,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0,Old Age,Old Age
8,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9,Middle Age,Middle Age
9,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7,Teen Age,Teen Age
10,P009,KK,62.0,M,122,Fracture,4.11,80,150,10.0,Old Age,Old Age
11,P009,MM,89.0,F,150,Fracture,4.11,88,100,11.0,Old Age,Old Age
12,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0,Old Age,Old Age
13,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0,Old Age,Old Age

In [157]:
print(data['Sugar Fasting'].corr(data['Total Cholesterol']))

-0.5711502060429615

In [158]:
y=data['Age']
x=data['Sugar Fasting']
z=data['Total Cholesterol']
model=ss.OLS(x,y+z).fit()
prediction=model.predict(x)
model.summary()

C:\Users\sanjn\anaconda4\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Sugar Fasting   R-squared (uncentered):                   0.807
Model:                            OLS   Adj. R-squared (uncentered):              0.789
Method:                 Least Squares   F-statistic:                              45.99
Date:                Wed, 07 Apr 2021   Prob (F-statistic):                    3.03e-05
Time:                        21:34:04   Log-Likelihood:                         -64.797
No. Observations:                  12   AIC:                                      131.6
Df Residuals:                      11   BIC:                                      132.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.5121      0.076      6.782      0.000       0.346       0.678
==============================================================================
Omnibus:                        1.541   Durbin-Watson:                   1.113
Prob(Omnibus):                  0.463   Jarque-Bera (JB):                1.147
Skew:                           0.665   Prob(JB):                        0.564
Kurtosis:                       2.276   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [159]:
print("Maximun Hb Levels in Middle age category :", np.max(data[(data.Age_Category=='Middle Age')].HB))

Maximun Hb Levels in Middle age category : 15.0

In [160]:
print("Minimum Hb Levels in Middle age category :", np.min(data[(data.Age_Category=='Middle Age')].HB))

Minimum Hb Levels in Middle age category : 11.0

In [108]:
print("Number of  :", len(data[(data.Age_Category=='Middle Age') & (data.Gender=='F')]))

Minimum Hb Levels in Middle age category : 2

In [163]:
dataByCategory = data.groupby(['Age_Category', 'Gender'])
dataByCategory.size()

Age_Category  Gender
Middle Age    F         2
              M         2
Old Age       F         4
              M         2
Teen Age      F         1
              M         1
dtype: int64

In [180]:
Comm=pd.read_csv('Comm.csv')

conditions = [
    (Comm['CM_Drugs'] =='Yes') | (Comm['CM_Drugs'] =='Y') | (Comm['CM_Drugs'] =='y'),
    (Comm['CM_Drugs']== 'no') | (Comm['CM_Drugs'] =='N') | (Comm['CM_Drugs'] =='No') | (Comm['CM_Drugs'] =='n')| (Comm['CM_Drugs'] ==0)
    ]
values=['Y','N']
Comm['CM_Drugs'] = np.select(conditions, values)

conditions = [
    (Comm['CM_Alcohol'] =='Yes') | (Comm['CM_Drugs'] =='Y') | (Comm['CM_Drugs'] =='y'),
    (Comm['CM_Alcohol']== 'no') | (Comm['CM_Drugs'] =='N') | (Comm['CM_Drugs'] =='No') | (Comm['CM_Drugs'] =='n')| (Comm['CM_Drugs'] ==0)
    ]
values=['Y','N']
Comm['CM_Alcohol'] = np.select(conditions, values)


conditions = [
    (Comm['CM_Thyroid'] =='Yes') | (Comm['CM_Drugs'] =='Y') | (Comm['CM_Drugs'] =='y'),
    (Comm['CM_Thyroid']== 'no') | (Comm['CM_Drugs'] =='N') | (Comm['CM_Drugs'] =='No') | (Comm['CM_Drugs'] =='n')| (Comm['CM_Drugs'] ==0)
    ]
values=['Y','N']
Comm['CM_Thyroid'] = np.select(conditions, values)

Comm

   PatientID CM_Drugs CM_Alcohol CM_Thyroid
0       P001        Y          Y          Y
1       P002        Y          Y          Y
2       P002        N          N          N
3       P003        N          Y          N
4       P004        N          N          N
5       P005        Y          Y          Y
6       P006        N          N          N
7      P0006        N          N          N
8       P007        Y          Y          Y
9       P008        Y          Y          Y
10      P009        N          N          N
11      P010        N          N          N
12      P011        N          N          N

In [17]:
HData=pd.read_csv('HData.csv')
HData

  PatientID INPat  Lenthof Stay  Billing
0      P001     Y          10.0  50000.0
1      P002     Y          12.0  70000.0
2      P004     Y           2.0   2000.0
3      P005     Y           4.0   8000.0
4      P007     Y           3.0   2500.0
5      P008     Y           NaN      NaN

In [20]:
CompleteData = pd.merge(data,Comm,on='PatientID',how='left')
CompleteData = pd.merge(CompleteData,HData,on='PatientID',how='left')
CompleteData

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB,CM_Drugs,CM_Alcohol,CM_Thyroid,INPat,Lenthof Stay,Billing
0,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0,Y,N,N,Y,10.0,50000.0
1,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0,Y,N,N,Y,12.0,70000.0
2,P002,BB,40.0,F,120,Infection,6.00,65,200,13.0,N,N,Y,Y,12.0,70000.0
3,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0,N,Y,Y,NaN,NaN,NaN
4,P004,DD,34.0,M,100,Blood count low,5.40,120,90,15.0,N,Y,Y,Y,2.0,2000.0
5,P005,EE,90.0,F,145,Heart Condition,5.60,200,100,13.0,Y,Y,N,Y,4.0,8000.0
6,P001,AA,32.0,F,180,Heart Condition,5.00,90,150,11.0,Y,N,N,Y,10.0,50000.0
7,P005,EE,90.0,F,145,Heart Condition,5.30,200,100,13.0,Y,Y,N,Y,4.0,8000.0
8,P006,FF,56.0,NaN,180,Joint pain,5.90,70,160,12.5,N,N,Y,NaN,NaN,NaN
9,P007,GG,50.0,M,145,Infection,5.80,99,210,11.9,Y,N,Y,Y,3.0,2500.0
10,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7,Y,N,N,Y,NaN,NaN
11,P009,KK,NaN,NaN,122,Fracture,4.11,80,150,10.0,N,N,N,NaN,NaN,NaN
12,P009,MM,NaN,NaN,150,Fracture,4.11,88,100,11.0,N,N,N,NaN,NaN,NaN
13,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0,N,Y,Y,NaN,NaN,NaN
14,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0,N,Y,N,NaN,NaN,NaN

In [199]:
# List all Males (details) are suffering from “Joint pain.”

CompleteData[(CompleteData['Medical Condition']=='Joint pain') & (CompleteData.Gender=='M')]

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB,Age_Category,Age_Category3,CM_Drugs,CM_Alcohol,CM_Thyroid,INPat,Lenthof Stay,Billing
3,P003,CC,22.0,M,190,Joint pain,5.5,80,250,9.0,Teen Age,Teen Age,N,Y,N,NaN,NaN,NaN

In [201]:
# List all females are suffering from “Health Condition,” and they are taking drugs but not alcoholic

CompleteData[(CompleteData['Medical Condition']=='Heart Condition') & (CompleteData.Gender=='F')&(CompleteData.CM_Drugs=='Y')&(CompleteData.CM_Alcohol=='N')]

Empty DataFrame
Columns: [PatientID, Name, Age, Gender, WEIGHT, Medical Condition, Height, Sugar Fasting, Total Cholesterol, HB, Age_Category, Age_Category3, CM_Drugs, CM_Alcohol, CM_Thyroid, INPat, Lenthof Stay, Billing]
Index: []

In [15]:
# List all the patients who didn’t stay in the hospital
CompleteData[(np.isnan(CompleteData['Lenthof Stay']))]

NameError: name 'CompleteData' is not defined

In [204]:
# • 4). List the inpatient who didn’t have billing information yet.

CompleteData[(np.isnan(CompleteData['Billing']))]

,PatientID,Name,Age,Gender,WEIGHT,Medical Condition,Height,Sugar Fasting,Total Cholesterol,HB,Age_Category,Age_Category3,CM_Drugs,CM_Alcohol,CM_Thyroid,INPat,Lenthof Stay,Billing
3,P003,CC,22.0,M,190,Joint pain,5.50,80,250,9.0,Teen Age,Teen Age,N,Y,N,NaN,NaN,NaN
8,P008,HH,20.0,F,133,Infection,5.80,100,222,13.7,Teen Age,Teen Age,Y,Y,Y,Y,NaN,NaN
9,P009,KK,62.0,M,122,Fracture,4.11,80,150,10.0,Old Age,Old Age,N,N,N,NaN,NaN,NaN
10,P009,MM,89.0,F,150,Fracture,4.11,88,100,11.0,Old Age,Old Age,N,N,N,NaN,NaN,NaN
11,P010,XX,61.0,F,220,Blood count low,6.00,130,170,12.0,Old Age,Old Age,N,N,N,NaN,NaN,NaN
12,P011,YY,71.0,M,230,VitaD low,6.00,120,120,14.0,Old Age,Old Age,N,N,N,NaN,NaN,NaN

In [23]:
# Report the revenue.

CompleteData[['Billing','Gender']]

    Billing Gender
0   50000.0      F
1   70000.0      F
2   70000.0      F
3       NaN      M
4    2000.0      M
5    8000.0      F
6   50000.0      F
7    8000.0      F
8       NaN    NaN
9    2500.0      M
10      NaN      F
11      NaN    NaN
12      NaN    NaN
13      NaN      F
14      NaN      M